@use '../../../global.scss';

.fondo {
    height: 100vh;
    background-image: url("../../..//assets/img/fondo_duoc.jpg");
    background-size: cover;
    text-align: center;
}


ion-card {
    --background: linear-gradient(#269fbd, #dddee0);
    margin: 0 auto;
    top: 5vh;
    height: 80vh;
    width: 60vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
form {
    margin: 0 auto;
    top: 10vh;
    height: 65vh;
    width: 50vw;
    display: flexbox;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

}